<div class="row">
    <div class="col-md-12">

      <h2>Admin - Dashboard</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Cant. Clientes</th>
            <th>Cant. Administradores</th>
            <th>Cant. Fotos</th>
            <th>Cant. Ordenes de Compra</th>
          </tr>
        </thead>
        <tbody>
            <tr>
            <td><a href="#" class="btn btn-info"><%=clientes.cantidad%></a></td>
            <td><a href="#" class="btn btn-info"><%=administradores.cantidad%></a></td>
            <td><a href="#" class="btn btn-info"><%=fotos.cantidad%></a></td>
            <td><a href="#" class="btn btn-info"><%=orden.cantidad%></a></td>
            </tr>
        </tbody>
      </table>
  
    </div>
  
  </div>
  